extends layout

block content
	.container
		.section-total
			span#total-years 
			|  years, 
			span#total-months
			|  months and 
			span#total-days
			|  days without Half Life 3
	.container
		.section
			.box
				.name Days
				span.number#day
		.section
			.box
				.name Months
				span.number#month
		.section
			.box
				.name Years
				span.number#year