extends layout

block content
	.container
		.section-total#total
	.container
		.section
			.box
				.name Days
				span.number#day
		.section
			.box
				.name Months
				span.number#month
		.section
			.box
				.name Years
				span.number#year