body{
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.main-theme{
	color: #fb7e14;
	background: #292929;
}

.main-color{
	color: #fb7e14;
}

.main-background{
	background: #292929;
}

h1 {
	display: inline-block;
}

a {
	text-decoration: none;
	color: inherit;
}

.title{
	text-decoration: none;
	color: inherit;
	font-size: 50px;
	margin-bottom: 1vh;
	display: table;
}

.subtitle{
	text-decoration: none;
	color: inherit;
	font-size: 20px;
	display: table;
}

.section-total{
	width: 100%;
	text-align: center;
	margin-top: 15%;
    margin-bottom: 15%;
	color: #fff;
	font-size: 50px;
}

.container{
	width: 100%;
}

.section{
	width: 33.333333333333%;
	display: inline-block;
	text-align: center;
	margin-bottom: 10px;
}

.section .number{
	color: #fff;
	font-size: 50px;
}

.section .name{
	font-size: 25px;
}

.box{
	border-style: solid;
    border-color: #fb7e14;
    display: inherit;
    width: 80%;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
	.section{
		width: 100%;
	}
	.section-total{
		top: 5%;
		font-size: 40px;
	}
}

.github-corner:hover .octo-arm{
	animation:octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave{
	0%,100%{
		transform:rotate(0)
	}20%,60%{
		transform:rotate(-25deg)
	}40%,80%{
		transform:rotate(10deg)
	}
}

@media (max-width:500px){
	.github-corner:hover .octo-arm{
		animation:none
	}
	.github-corner .octo-arm{
		animation:octocat-wave 560ms ease-in-out
	}
}